<div class="container">

    <div *ngIf="!criarUsuario" class="card" style="width:18rem; margin-top:1rem;">
        <div class="card-body">
            <h5 class="card-title">Faça login para continuar</h5>
            <form [formGroup]="loginForm" (ngSubmit)="realizaLogin()" novalidate>
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && loginForm.value.email.length <= 0}" formControlName="email"
                        type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && loginForm.value.senha.length <= 0}" formControlName="senha"
                        type="password" placeholder="Senha">
                </div>
                <div class="float-left">

                    <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
                <div class="float-right">

                    <button class="btn btn-link" type="button" (click)="criarConta()">Criar conta</button>
                </div>
            </form>
            <div *ngIf="msg.length > 0  " style="clear: both; padding-top:1rem;">
                <hr>
                <small class="text-danger">{{msg}}</small>
            </div>
        </div>
    </div>

    <div *ngIf="criarUsuario" class="card" style="width:18rem; margin-top:1rem;">
        <div class="card-body">
            <h5 class="card-title">Crie sua conta Administrativa</h5>

            <div *ngIf="msg.length > 0" class="alert" [ngClass]="{'alert-success': usuarioCriadoSucesso, 'alert-danger': !usuarioCriadoSucesso}" role="alert">
                <small>{{msg}}</small>
            </div>

            <form [formGroup]="criaUsuarioForm" (ngSubmit)="salvarUsuario()" >
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && criaUsuarioForm.get('usuario').invalid}" formControlName="usuario" type="text" placeholder="Nome de Usuário">
                </div>
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && criaUsuarioForm.get('email').invalid}" formControlName="email" type="email" placeholder="Seu email">
                </div>
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && criaUsuarioForm.get('senha').invalid}" formControlName="senha" type="password" placeholder="Defina uma Senha">
                    <small *ngIf="msg.length > 0 && criaUsuarioForm.get('senha').invalid" class="text-danger">A senha deve ter no mínimo 6 caracteres</small>
                </div>
                <div class="form-group">
                    <input class="form-control" [ngClass]="{'is-invalid': msg.length > 0 && criaUsuarioForm.get('senhaRepetida').invalid}" formControlName="senhaRepetida" type="password" placeholder="Repita a Senha">
                </div>
                <div>

                    <div class="float-left">

                        <button class="btn btn-primary" type="submit">Criar Conta</button>
                    </div>
                    <div class="float-right">

                        <button class="btn btn-secondary" type="button" (click)="voltarLogin()">Cancelar</button>
                    </div>
                </div>
            </form>

            <div *ngIf="msg.length > 0  " style="clear: both; padding-top:1rem;">
                <hr>
                <small class="text-danger">{{msg}}</small>
            </div>
        </div>
    </div>

    
</div>