<div class="container form">
  <div class="row">
    <div class="col-12">
      <h3>Cadastro de Produtos</h3>
      <div *ngIf="msgErro" class="alert alert-danger alert-dismissible fade in" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>Ocorreu um erro ao salvar</strong>
      </div>
      <div *ngIf="salvouSucesso" class="alert alert-success" role="alert">


        <strong>Produto salvo com sucesso</strong>
      </div>
      <form [formGroup]="produtoForm" (ngSubmit)="salvarProduto()" novalidate>

        <div class="form-group">
          <label for="titulo" class="control-label">Título</label>
          <input type="text" id="titulo" class="form-control" [ngClass]="{'is-invalid': produtoForm.get('titulo').invalid && produtoForm.get('titulo').touched }"
            formControlName="titulo" placeholder="Título do produto">
          <small *ngIf="produtoForm.get('titulo').invalid && produtoForm.get('titulo').touched " class="form-text text-danger">Título é obrigatório</small>
        </div>
        <div class="form-group">
          <label for="descricao" class="control-label">Descrição</label>
          <textarea class="form-control" [ngClass]="{'is-invalid':produtoForm.get('descricao').invalid && produtoForm.get('descricao').touched}"
            id="descricao" formControlName="descricao" placeholder="Descrição do produto" maxlength="400"></textarea>
          <small *ngIf="produtoForm.get('descricao').invalid && produtoForm.get('descricao').touched " class="form-text text-danger">Descrição é obrigatória</small>
        </div>
        <div class="form-group">
          <label for="link" class="control-label">Link</label>
          <input type="url" class="form-control" [ngClass]="{'is-invalid': produtoForm.get('link').invalid && produtoForm.get('link').touched}"
            formControlName="link" id="link" placeholder="Link do Produto na Elo7">
          <small *ngIf="produtoForm.get('link').invalid && produtoForm.get('link').touched " class="form-text text-danger">Link é obrigatório</small>
        </div>

        <div class="form-group">
          <label for="imagem1" class="control-label">Imagens</label>
          <input type="file" id="imagem1" class="form-control-file" [ngClass]="{'is-invalid':arquivoInvalido || quantidadeArquivosInvalida}"
            (change)="populaArquivos($event)" accept="image/*" multiple>
          <small *ngIf="arquivoInvalido" class="form-text text-danger">Escolha apenas arquivos do tipo imagem</small>
          <small *ngIf="quantidadeArquivosInvalida" class="form-text text-danger">Escolha no máximo 2 imagens</small>
        </div>
        <div class="row thumbnail">
          <div *ngFor="let url of urls" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <img class="img-thumbnail" src="{{url}}">

          </div>
        </div>

        <button id="botao-salvar" type="submit" class="btn btn-primary" [disabled]="!isValidForm()">Salvar</button>

      </form>
    </div>
  </div>
</div>